@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Arima:wght@400;600&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
}

body{
    font-family: 'ABeeZee', 'Arima', cursive, sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0 auto;
}

.container{
    display: flex;
    justify-content: space-around;
}
a:visited,
a:link{
    color: black;
}
a:hover{
    color: orange;
}
/* left-side */
.sidebar {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    margin-top: 100px;
    background-color: rgba(246, 197, 123, 0.4)
}

.logo img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.credit-link {
    align-self: center;
    font-size: 0.8rem;
}

/* right-side */
.form-side{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 38px;
    margin-left: 48px;
    margin-top: 60px;
}

.form-title{
    font-size: 2rem;
    font-weight: bold;
    width: 90%;
}
.form-container p{
    width: 100%;
    font-size: 2rem;
    font-weight: normal;
    margin: 0;

}
.form-container {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    box-shadow: 0px 6px 6px -6px gray;
    margin-bottom: 2rem;
    padding-bottom: 2rem;  
}

.form-row{
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
    width: 35%; 
}

.form-container input{
    font-size: 1.4rem;
    border: 2px solid;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.5);
}

.form-container input:focus{
    outline: none;
    border-color: rgb(0, 145, 255);
    box-shadow: 1px 1px 3px rgb(0, 145, 255);
}
